@use './variables/colors' as *;
@use './mixins/mixins' as *;

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.App{
    width: 100%;
    @include flex(unset,center,center);
}

.Screen{
    width: 100%;
    // max-width: 600px;
    height: 100vh;
    background-color: $screen_color;
    @include flex(column,unset,unset);

    .ResultScreen{
        height: 347px;
        padding: 0 29px;
        @include flex(unset,flex-end,flex-end);

        .result{
            font-size: 93px;
            font-weight: 400;
            color: white;
        }
    }

    .ButtonsPart{
        padding: 0 20px;
        @include flex(column,unset,unset);
        gap: 16px;

        .row-btns{
            @include flex(row,space-between,unset);

            .Button{
                border-radius: 50%;
                width: 88px;
                height: 88px;
                border: none;
            }
        }

    }

    .Line{
        width: 8.125rem;
        height: 0.25rem;
        // position: absolute;
        // bottom: 1.19rem;
        // // margin: auto;
        background-color: white;
    }
}

